* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Premik ClerkBot widgeta navzgor */
#root {
  position: fixed !important;
  z-index: 10000 !important; /* Zelo visok z-index za zagotovitev vidnosti */
}